body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    text-align: center;
    overflow: hidden;
}
.upper-sec{
    background-image: url('./images/pattern-bg-desktop.png');
    width: 100vw;
    height: 35vh;
    background-repeat: round;
    padding: 1em 2em;
    color: white;
}
input{
    padding: 0.5rem 3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:focus {
    outline: none;
}
button{
    background-color: black;
    color: white;
    padding: 0.5rem ;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0 15% ;
    transform: translateY(-50%);
    
}

.grid-item {
    background-color: #ddd;
    padding: 3rem;
    text-align: center;
    background-color: white;
}
span{
    border-right: 1px solid #ccc;
    padding: 20px;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }


  /* Responsive layout */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}